body{
    background-color: grey;
}

.titles{
    margin: auto;
    margin-top: 20px;
}

fieldset
{
  max-width:500px;
  padding:16px;	
}

button{
    cursor: pointer;
}

.reset:hover{
    color: purple;
    background-color: yellow;
    padding: 5px;  
    border-color: blueviolet; 
}

.border{
    border-color: darkmagenta;
    
}

p{
    font-family: 'Nunito', sans-serif;
}